<h1>My tasks</h1>
<% @tasks.each do |task| %>
<p><%= task.title %></p>
<p><%= task.completed %></p>
<p><%= link_to "see task details", task_path(task) %></p>
<% end %>
<p><%=link_to "Add a new task", "/tasks/new" %></p>
